CLOUD_DEPLOYMENT_STRATEGY=aws_lambda  # Newly added key for specifying the cloud deployment strategy
CLOUD_REGION=us-east-1  # Newly added key for specifying the region for the deployment
CLOUD_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID  # Added to provide AWS access key for cloud services
CLOUD_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY  # Added for AWS secret key for authentication
CLOUD_BUCKET_NAME=my-app-bucket  # Added to specify the S3 bucket for deployment artifacts
CLOUD_DNS_DOMAIN=example.com  # Added for specifying the DNS domain for cloud deployment